@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:700');

* { margin: 0; padding: 0; box-sizing: border-box; }


html,
body { 
	height: 100%; 
	font-size: 16px; 
    font-weight: 400; 
    text-align: center;    
}

html,
body,
button,
input[type="text"] { 
    font-family: "Lato", sans-serif;
}

h1 {
    font-size: 2em;
    color: #BA8697;
    margin: 1em;
}

.table {
    border: 4px solid #BA8697;
    background-color: #555555;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.table tr {
    font-size: 13px;
}

.table th {
    border: 1px solid #555555;
    padding: 4px 4px;
    color: #FFFFFF;
}

.table tr:nth-child(even) {
    background: #BA8697;
}

.total {
    padding: 0.5rem 1rem;
}

dl {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    padding: 0;
    margin: 0;
    border: 1px solid #BA8697;
  }

  dt {
    float: left;
    width: 50%;
    background: #BA8697;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
  }

  dd {
    float: left;
    width: 50%;
    background: #ffffff;
    padding: 0;
    margin: 0;
  }

.promo {
    background-color: #555555;
    padding: 2em;
    color: #FFFFFF;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #BA8697;
    margin: 20px 0 0 0;
    padding: 10px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    transition: all 0.4s ease 0s;
}

input[type="text"] {
	width: 50%; 
	padding: 0.5rem; }